<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'column_start' -%}
            {%- include 'column-start' -%}

          {%- when 'column_end' -%}
            {%- include 'column-end' -%}

          {%- when 'tile_text' -%}
            {%- include 'tile' -%}

        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Tiles",
  "settings": [

  ],
  "blocks": [
    {
      "type": "column_start",
      "name": "Column Start",
      "settings": [
        {
          "type": "checkbox",
          "id": "vertical",
          "label": "Is Vertical?"
        },
        {
          "type": "checkbox",
          "id": "parent",
          "label": "Is Parent?"
        },
        {
          "type": "range",
          "id": "col_width",
          "min": 0,
          "max": 12,
          "step": 1,
          "label": "Col Width (0 is auto)",
          "default": 0
        }
      ]
    },
    {
      "type": "column_end",
      "name": "Column End"
    },
    {
      "type": "tile_text",
      "name": "Tile",
      "settings": [
        {
          "type": "text",
          "id": "tile_title",
          "label": "Tile Title"
        },
        {
          "type": "richtext",
          "id": "tile_content",
          "label": "Tile Content"
        },
        {
          "type": "image_picker",
          "id": "tile_image",
          "label": "Tile Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tiles",
      "category": "Content"
    }
  ]
}
{% endschema %}
